/* All sizes */

.main-photo {
  width: 140px;
  border-radius: 50%;
}

.block-social-icon {
  font-size: 22px;
  display: inline-flex;
}

.card h5 {
  margin-bottom: inherit;
}

.bi-translate {
  display: flex;
  align-items: center;
}

video, img {
  height: 100%;
  width: 100%;
}

.card > .row > .col-md-4 {
  overflow: overlay;
}

.btn-link {
  text-decoration: inherit;
}

.popover-header {
  background: white;
}

.form-check > .form-text {
  margin-top: inherit;
}

#iOSDev-Section > .container > .row > .col-sm:last-child {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: inherit;
}

.toast-header img {
  width: 20px;
}

.breadcrumb {
  margin-bottom: inherit;
}

.card img {
  object-fit: cover;
  object-position: top;
  max-height: 200px;
}

/* Mr Dicey */

/* @keyframes drop {
  0% {
    transform: translateY(-70px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes grow {
  0% {
    opacity: 0;
    transform: rotate(0deg) scaleX(0) scaleY(0);
  }
  70% {
    opacity: 1;
    transform: rotate(0deg) scaleX(1.1) scaleY(1.1);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }
}

@keyframes shrink {
  0% {
    opacity: 1;
    transform: rotate(0deg) scaleX(1) scaleY(1);
  }

  100% {
    opacity: 0;
    transform: rotate(0deg) scaleX(0) scaleY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;

    transform: translateY(10px);
  }

  100% {
    opacity: 1;

    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
} */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (max-width: 767.98px) {
  .footer-links {
    justify-content: start;
  }
}

@media (min-width: 768px) {
  .footer-links {
    justify-content: center;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 991.98px) {
  /* .navbar-toggler {
    margin: 1rem;
  } */
  /* .navbar-collapse {
    padding: 1rem;
  } */

  .navbar-nav {
    padding-top: 1rem;
  }
  .nav-link {
    padding: 1rem;
  }
  .navbar-nav i {
    padding-bottom: 1rem;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
